html {
    background: beige; 
    font-family: 'Times New Roman'; /*пока что не подключала шрифт как Фигме - попозже докручу это, а пока так :D*/
}
.main {
    width: 1176px;
    margin: 0 auto;
    padding: 32px 31px;
}
.header {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
}
.photo {
    width: 242.5px;
    min-width: 242.5px;
    height: 242.5px;
    border-radius: 15px;
    background: url('../Assets/Alex.jpg') no-repeat;
    background-size: cover;
    margin-right: 32px;
}
.name {
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #7a4825;
}  
.position {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #7a4825;
    line-height: 1.5;
    text-transform: uppercase;
}    
.name > span {
    font-weight: 400;
}
.line {
    width: 100%;
    height: 0;
    border-bottom: 2px solid rgba(90, 26, 1, 0.322)
}
.main-container {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 62.5px;
}
.left_sidebar {
    width: 315px;
    height: 1350.5px;
    border-right: 2px solid rgba(90, 26, 1, 0.322);
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27.5px;
    width: 600px;
}
.link {
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #7a4825;
    margin: 6px;
    border: 1px solid rgba(90, 26, 1, 0.322)
}
a > img {
    margin-right: 12px;    
}
.icon {
    height: 31px;
    width: auto;
}
.hobby_icon {
    height: 16px;
    width: 16px;
}
.profile_header {
    width: auto;
    height: 38px;  
}
.section_name {
    font-size: 25 px;
    font-weight: 700;
    line-height: 37.5px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #7a4825;
    text-transform: uppercase;
}
.profile {
    width: 280.5px;
    height: 526px;
    margin-top: 32px;
    margin-left: 1px;
}
.profile_info {
    width: 280.5px;
    height: 463.5px;
    margin-top: 24.5px;
}
.info_1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #7a4825;
    width: 274.5px;
    height: 275px;
}
.profile_mail {
    display: flex;
    flex-wrap: wrap;
    width: 280.5px;
    height: 180px;
    margin-top: 8.5px;
}
.line_left {
    margin-top: 41.5px;
    width: 280px;
    height: 0;
    border-bottom: 2px solid rgba(90, 26, 1, 0.322)
}
.link_2 {
    width: 100%;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #7a4825;
    margin: 6px 0px;
    text-decoration: none;
    border: 1px solid rgba(90, 26, 1, 0.322)
}
.education {
    width: 288px;
    height: auto;
    margin-left: 1px;
    margin-top: 32.5px;
}
.education_info {
    height: auto;
    margin-top: 32px;
}
.education_info_2 {
    height: auto;
    margin-top: 26px;
}
.years {
    width: 115.5px;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius:6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a4825;
    border: 1px solid rgba(90, 26, 1, 0.322)
}
.years_of_study {
    font-weight: 600;
    font-size: 15px;
    Line-height: 22.5px;
}
.degree {
    width: 284px;
    margin-top: 10px;
}
.degree_name {
    font-weight: 600;
    font-size: 14px;
    Line-height: 21px;
    color: #7a4825;
    text-transform: uppercase;
}
.university {
    width: 270px;
    margin-top: 8.5px;
}
.university_name {
    font-weight: 400;
    font-size: 13.5px;
    Line-height: 20.25px;
    color: #7a4825;
}
.line_left_2 {
    margin-top: 32.5px;
    width: 280px;
    height: 0;
    border-bottom: 2px solid rgba(90, 26, 1, 0.322)
}
.languages_info {
    width: 283px;
    height: auto;
    margin-left: 1px;
    margin-top: 25px;
}
.languages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    width: 280px;
}
.language_name {
    width: 88.5px;
    height: 31.5px;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius:6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a4825;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    margin-inline: auto;
    border: 1px solid rgba(90, 26, 1, 0.322)
}
.hobbies_info {
    width: auto;
    height: auto;
    margin-left: 1px;
    margin-top: 32px;
    margin-bottom: 93px;
}
.hobbies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    width: 100%;
    height: auto;
    margin-left: -6px;
}
.hobbies_name {
    width: auto;
    height: auto;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a4825;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    margin: 6px;
    border: 1px solid rgba(90, 26, 1, 0.322)
}
p > img {
    margin-right: 12px;    
}
.right_side_conteiner {
    width: 765px;
    height: 100%;
    margin-left: 356px;
    position: absolute;
}
.my_projects {
    width: 100%;
    height: 402.5px;
}
.project_1 {
    width: 100%;
    height: 149px;
    margin-top: 24.5px;
}
.project_2 {
    width: 100%;
    height: 160.5px;
    margin-top: 30.5px;
}
.my_experience {
    width: 100%;
    height: 402.5px;
    margin-top: 15px;
}
.experience_1 {
    width: 100%;
    height: 149px;
    margin-top: 24.5px;
}
.experience_2 {
    width: 100%;
    height: 160.5px;
    margin-top: 30.5px; 
}
.skills_info {
    width: 100%;
    height: 313px;   
}
.my_skills {
    display: flex;
    flex-wrap: wrap;
    width: 750px; 
    margin-top: 23.5px;
}
.skills_name {
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #7a4825;
    margin: 6px;
    border: 1px solid rgba(90, 26, 1, 0.322);
    line-height: 22.5px;
}
.icon_skills {
    width: 23.5px;
    height: 23.5px;
}
.my_certificates {
    width: 100%;
    height: 228px;
}